.searchpage__header{
    display: flex;
    background-color: white;
    align-items: flex-start;
    top: 0;
    z-index: 100;
    padding: 30px;
    position: sticky;
    border-bottom: 1px solid lightgray;
}

.searchpage__logo{
    object-fit: contain;
    height: 50px;
    margin-right: 50px;
}

.searchpage__headerbody > .search > .search__input {
    margin-top: 0;
    width: unset;
    margin: unset;
    max-width: unset;
}
